@import "tailwindcss";

:root {
  --background: #0E041D;
  --main-color: #5A00DB;
  --accent-color: #5A00DB;
  --font-inter: var(--inter)
}

@layer utilities {
  .text-main-color {
    color: var(--main-color);
  }
  .bg-background {
    background-color: var(--background);
  }
  .bg-accent-color {
    background-color: var(--accent-color);
  }
}

body {
  font-size: 18px;
  font-weight: 4000;
  color: #fff;
}

.inter {
  font-family: var(--font-inter);
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}